@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');

* {
  margin: 0;
}

body {
  color: #40514E;
  text-align: center;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;

  background-color: #E4F9F5;
}

.about-text {
  place-self: center;
}

h1 {
  color: #66BFBF;
  font-size: 5.6rem;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.shariki {
  position: absolute;
}

.top-shariki {
  right: 20%;
  top: 5%;
}

.bottom-shariki {
  left: 20%;
  bottom: 50%;
}